body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 15px;
}

main img {
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 30px auto;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}
.content img {
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}